* {
    color: #25282B;
    margin: 0;
    padding: 0;
}

html {
    background-color: #E5E5E5;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 2%;
    padding: 1rem 0;
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 15%;
    transition: 0.3s;
}

nav a:hover {
    font-size: 1.125rem;
    color: white;
    text-decoration: underline white;
    text-underline-offset: 12px;
    transition: 0.3s;
}

/* INTRO SECTION */
.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
}

.intro-info {
    width: 38%;
    padding: 10% 2% 0 8%;
    z-index: 1;
}

.intro-graphic {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    z-index: -1;
}

.intro-graphic img {
    width: 100%;
}

.intro-info h2 {
    color: #FDC435;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.intro-info h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 12px 0 32px 0;
}

.intro-info p {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #828282;
    padding-bottom: 1.75rem;
}

.info-btns {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn-primary {
    text-decoration: none;
    background-color: #FDC435;
    border-radius: 8px;
    margin-right: 0.5rem;
    padding: 0.5rem 1.25rem;
    transition: 0.3s;
}

.btn-primary:hover {
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    transition: 0.3s;
}

.btn-secondary {
    text-decoration: none;
    border: 2px solid #25282B;
    border-radius: 8px;
    padding: 0.5rem 1.25rem;
    transition: 0.3s;
}

.btn-secondary:hover {
    color: #FDC435;
    border-color: #FDC435;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
}

/* PROJECTS SECTION */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8rem;
}

.projects-container h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #25282B;
    text-decoration: underline solid #FDC435;
    text-underline-offset: 15px;
    padding-bottom: 2rem;
}

.project-card {
    width: 60%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: white;
    filter: drop-shadow(0px 6px 64px rgba(112, 144, 176, 0.1));
    margin: 2rem 0;
}

.project-card-info {
    background-color: transparent;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8% 5% 8% 5%;
}

.project-card-info h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    padding-bottom: 1rem;
}

.project-card-info p {
    font-family: 'Nunito', sans-serif;
    color: #828282;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.language-icons img {
    height: 2.75rem;
    padding-bottom: 1rem;
}

.btn-project {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #25282B;
    border-radius: 24px;
    padding: 0.5rem 1.25rem;
}

.project-card-graphic {
    width: 50%;
    height: 100%;
}

.project-card-graphic img {
    width: 100%;
    height: 100%;
}

.vinyl-catalogue {
    border-radius: 0 24px 24px 0;
}

.kingsway-chess {
    border-radius: 24px 0 0 24px;
}

/* FOOTER SECTION */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.footer-links a {
    text-decoration: none;
}

.footer-links img {
    height: 2rem;
}

footer p {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #828282;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 497px) {
    * {
        font-size: 10px;
        transition: 0.3s;
    }
}


@media only screen and (min-width: 497px) and (max-width: 675px) {
    * {
        font-size: 10px;
        transition: 0.3s;
    }

    nav {
        right: 4%;
    }

}

@media only screen and (min-width: 675px) {
    * {
        font-size: 14px;
        transition: 0.3s;
    }

    nav {
        right: 6%;
    }
}

@media only screen and (min-width: 768px) {
    * {
        font-size: 16px;
        transition: 0.3s;
    }

    nav {
        right: 6%;
    }
}

@media only screen and (min-width: 1024px) {
    * {
        font-size: 18px;
        transition: 0.3s;
    }

    nav {
        right: 8%;
    }
} 